<div mat-dialog-title>
  <h1>Add Student</h1>
</div>
<form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="first_name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Class</mat-label>
            <mat-select formControlName="class">
              <mat-option *ngFor="let class of classes" [value]="class">
                {{class}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Division</mat-label>
            <mat-select formControlName="odbor">
              <mat-option *ngFor="let division of divisions" [value]="odbor">
                {{division}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Gendean Angr</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let gender of genders" [value]="gender">
                {{gender}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Average</mat-label>
            <input matInput formControlName="average">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-checkbox formControlName="Disabled">Disabled</mat-checkbox>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Awards</mat-label>
            <input matInput formControlName="awards">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button>Back</button>
    <button mat-raised-button color="primary">Add</button>
</div>
</form>